body {
  font-family: tahoma;
  font-size: 11px;
}

input, select, textarea {
	font-family: tahoma;
	font-size: 11px;
}

#calendar-header { background-color: #6699CC; margin: 0; width: 100%; padding: 2px 0 2px 0; }
#calendar-header .closeme { padding: 0px 3px 2px 0px; }

#calendar-body { padding-bottom: 2px; background-color: #6699CC; margin: auto; width: 100%; }
#calendar-body .general { background-color: #FFFFFF; padding: 5px}
#calendar-body .othermonth { background-color: #EEEEEE; color: #AAAAAA; padding: 5px}
#calendar-body .header { background-color: #6699CC; color: #FFFFFF; padding: 2px 0 3px 0; }
#calendar-body .today { background-color: #FFFFCC; }
#calendar-body .bg { background-color: #6699CC; padding:0px; margin: 0px;}
#calendar-body .select { background-color: #FFCC99; padding: 3px}
#calendar-body .othermonth a:link { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#calendar-body .othermonth a:visited { text-decoration : none; font-family: tahoma; color: #CCFFCC; }
#calendar-body .othermonth a:hover { text-decoration : underline; font-family: tahoma; color: #FFFFFF; }
#calendar-body a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-body a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-body a:hover { background-color: #80C8FE; font-family: tahoma; color: #FF0000; display: block; margin:-5px; padding: 5px;}
#calendar-body .disabledate { color: #669999; }

#calendar-footer { background-color: #CCCCCC; border: 0px solid #000000; width: 100%; margin: auto; }
#calendar-footer .btn { line-height: 21px; }
#calendar-footer .btn a:link { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-footer .btn a:visited { text-decoration : none; font-family: tahoma; color: #000000; }
#calendar-footer .btn a:hover { text-decoration : underline; font-family: tahoma; color: #FF0000; }

#calendar-header, #calendar-body, #calendar-footer { padding-left: 1px; padding-right: 1px; }
#calendar-container { background-color: #6699CC; }

.tcday, .tcmonth, .tcyear { font-size: 11px; }

.date-tccontainer { border: 1px solid #cccccc; background-color: #efefef; padding: 2px; }

#calendar-page { float: left; }
.div_calendar { width: 150px; height: 200px; }
.calendar-border { border: 1px solid #000; }

#table {display:block; float: left;}
table.box, td.box, tr.box { border-style: solid; border-width: 1px; }

#cal {display:block; width: 325px; margin-left: 15px; float: left;}
#class_selector {display:block; width: 325px; margin-right: 75px; float: right;}
#legend {margin-left: 25px; }
#smBox {border: 1px solid #000; color: #000; padding-top: 5px; font-size: 9px; text-align: center; height: 20px; width: 50px; float: left; clear: right;}
.Box {border: .5px solid #999; background-color: #c5c5c5; text-align: center; font-size: 11px; height: 35px; width: 115px;}
.checked {background: url(images/checked.gif) repeat; }
.reserved {background: url(images/reserved.gif) repeat; }
.open {background: url(images/open.gif) repeat; }
.link {display: block; height: 35px;}
.closed {background: url(images/closed.gif) repeat; }
.repairs {background-color: #727272; }
#top_content{ display: block; }
#arrows {display: block; color: black; font-size: 10pt; margin: 15px; clear: both; height: 15px; max-width: 100%;}
.active {color: red; }
.r {float: right;}
.l {float: left;}