html 	{ min-height: 100%; }
body 	{ background-color: #999999; height: 100%; margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
a 		{ color: #0000CC; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
a:hover { text-decoration: underline; font-size: 10pt; }
img 	{ border: none; }
/*
td, th 	{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #666666; }
ul 	{ list-style: none;	padding: 0px; margin: 0px; }
*/
#main 	{ width: 800; margin-left: auto; margin-right: auto; }

/* HEADER */
#gray-bar 	{ width: 800; height:10; background-color:#666666; margin-top: 15px; }
#header 	{ width: 800; height:115; background-color:#ffffff; text-align: center;	margin: 0 0 0 0; }
#header-nav { width: 465px; height: 22px; background-color: #9BBECC; border: solid #3E506C; 
				border-width: 2px; margin-left: auto; margin-right: auto; padding: 0; margin-top: 0px; padding-top: 0px; }
#header-nav li 		{ list-style: none; float: left; margin: 0px; }
#header-nav li a 	{ height: 20px; float: left; width: auto; display: block; color: #0d2474; text-align: center;	margin: 0 0 0 0; padding: 2 5 0 7; }
#header-nav li a:hover { background-color: #bcdcfb; }

/* MISC PAGES */
h1 		{ color: #FF0000; }
h2 		{ padding: 0px; margin: 0px; color: #999999; }
.small 	{ font-size: 10pt; }
.body 	{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-transform: none; color: #999999; }
a.hints { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: red; }
a.tools { text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; text-decoration: none;
			display: block; color: #ffffff; margin: 5 5 5 0; }
a.pagenum 	{ text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: red; }
#content 	{ display: block; height: auto; width: 740; background-color:#ffffff; 
				text-align: left; padding: 5 30 5 30; margin: 0 0 0 0; overflow:hidden; }
.TextField 	{ font-family: Arial, Helvetica, sans-serif; font-size: 10pt; border-width: 1; margin: 10 0 0 1; }
.TitleColor { color: #000000; font-size: 10pt; }		
.accessoryText { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.8em; color: #666666; }
.NavigationColor { color: #000000; font-size: 10pt; }
tr.ListHeaderColor th { text-align: left; color: #000000; font-size: 10pt; }
#overlay {background-color: #000000; filter:alpha(opacity=60); opacity:0.6; position: absolute; top: 0; left: 0; width: 100%; height: 100%;z-index:10001;}

/* ALERTS */
#alert 	{ position: absolute; margin-right: -150px; top: 50%; right: 50%; width: 300px; height: 100px;
			background-color:#ff3300; border:3px solid #cc0000; visibility:hidden; z-index: 10002;
			color: #ff9999;	font-weight: bold; font-size: 16px;	text-align: center; padding-top: 33px; }
.alert 	{ color: #ff9999; font-weight: bold; }

/* CHECK-IN/OUT STYLING */
#tag-top	{ -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color:#8ece6a; border: 1px solid #8ece6a; 
				display: block; float: left; text-align: left; margin-left: 1px; padding: 8 10 0 10; height: 22px; color: #FFFFFF; font-weight: bold; }
#tag-br 	{ display: block; height: 40px;	}
#tag 		{ display: block; float: left; text-align: left; padding: 8 0 0 10; height: 28px; width: 110px; color: #FFFFFF; font-weight: bold; 
				background: url('../images/tag_blue.png') left center no-repeat; }
#tag-info 	{ display: block; float: left; text-align: left; padding: 8 0 0 5; height: 31px; font-weight: bold; }
#options 	{ display: block; float: left; text-align: left; padding: 8 0 0 10; height: 31px; font-weight: bold; }

/* LOGOUT STYLING */
#logout 		{ display: block; width: 95px; height: 25px; background-color: #000000; position: absolute; right: 0px; top: 0px; padding-top: 5px; }
.logout strong 	{ display: block; color: #ffffff; width: 40px; height: 15px; font-size: 8pt; margin: 2 10 0 5; float: right; }
a.logout 		{ margin-left: 15px; margin-right: 15px; text-decoration: none; }
img.logout 		{ text-align: left; vertical-align: middle; }

/* FOOTER */
#footer { width: 800; height:20; background-color: #666666; padding-top: 1px; }